<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken GAME!</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Janken GAME!</h1>

  <div>
    Hi <span sec:authentication="name" />
  </div>

  <p th:if="${users}">
  <h2>エントリー</h2>
  <div>今[[${users.size()}]]人がエントリーしています</div>
  <ul>
    <li th:each="user:${users}"><a th:href="@{/match(id=${user.id})}">[[${user.name}]]</a></li>
  </ul>
  </p>

  <p th:if="${matches}">
  <h2>試合結果</h2>
  <div th:each="match:${matches}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手:[[${match.user1Hand}]]</td>
      <td>user2の手:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>

</body>

</html>
