<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Janken GAME!</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Janken GAME!</h1>

  <div>
    Hi <span sec:authentication="name" />
  </div>

  <p th:if="${users}">
  <h2>エントリー</h2>
  <div>今[[${users.size()}]]人がエントリーしています</div>
  <ul>
    <li th:each="user : ${users}">[[${user.name}]]</li>
  </ul>
  </p>

  <p>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Tyoki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
  </p>
  <div th:if="${janken}">
    <div>あなたの手 [[${janken.getUserHand()}]]</div>
    <div>相手の手 [[${janken.getEnemyHand()}]]</div>
    <div>結果 [[${janken.battle()}]]</div>
  </div>

</body>

</html>
