<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken GAME!</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Match</h1>

  <h2>
    <span sec:authentication="name" /> V.S. <span th:if="${user2}">[[${user2.name}]]</span>
  </h2>

  <p>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Tyoki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
  </p>

  <div th:if="${janken}">
    <div>あなたの手 [[${janken.getUserHand()}]]</div>
    <div>相手の手 [[${janken.getEnemyHand()}]]</div>
    <div>結果 [[${janken.battle()}]]</div>
  </div>

</body>

</html>
